---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/launches/upcoming
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Og==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2405-/oOnd9drw8Drbpvk0iqGTpRT8w8"'
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[{"fairings":{"reused":null,"recovery_attempt":null,"recovered":null,"ships":[]},"links":{"patch":{"small":"https://images2.imgbox.com/a9/9a/NXVkTZCE_o.png","large":"https://images2.imgbox.com/e3/cc/hN96PmST_o.png"},"reddit":{"campaign":"https://www.reddit.com/r/spacex/comments/jhu37i/starlink_general_discussion_and_deployment_thread/","launch":null,"media":null,"recovery":"https://www.reddit.com/r/spacex/comments/k2ts1q/rspacex_fleet_updates_discussion_thread/"},"flickr":{"small":[],"original":[]},"presskit":null,"webcast":null,"youtube_id":null,"article":null,"wikipedia":null},"static_fire_date_utc":null,"static_fire_date_unix":null,"net":false,"window":null,"rocket":"5e9d0d95eda69973a809d1ec","success":null,"failures":[],"details":null,"crew":[],"ships":[],"capsules":[],"payloads":["631616a7ffc78f3b8567071a"],"launchpad":"5e9e4501f509094ba4566f84","flight_number":186,"name":"Starlink
        4-35 (v1.5)","date_utc":"2022-09-24T23:30:00.000Z","date_unix":1664062200,"date_local":"2022-09-24T19:30:00-04:00","date_precision":"hour","upcoming":true,"cores":[{"core":null,"flight":null,"gridfins":null,"legs":null,"reused":null,"landing_attempt":null,"landing_success":null,"landing_type":null,"landpad":null}],"auto_update":true,"tbd":false,"launch_library_id":"1c903b65-6667-4fd5-944d-296c5f13e01f","id":"63161339ffc78f3b8567070c"},{"fairings":{"reused":null,"recovery_attempt":null,"recovered":null,"ships":[]},"links":{"patch":{"small":"https://images2.imgbox.com/a9/9a/NXVkTZCE_o.png","large":"https://images2.imgbox.com/e3/cc/hN96PmST_o.png"},"reddit":{"campaign":"https://www.reddit.com/r/spacex/comments/jhu37i/starlink_general_discussion_and_deployment_thread/","launch":null,"media":null,"recovery":"https://www.reddit.com/r/spacex/comments/k2ts1q/rspacex_fleet_updates_discussion_thread/"},"flic[...]
